# macOS
.DS_Store

# VS Code
.vscode/
tempCodeRunnerFile*

# C++ build outputs
a.out
*.out
*.o
*.exe
*.dSYM/

# Common local run target
run

# Exercise executables
AbsFunciton
CodeBlock
FtoMTable
IntVsDouble
RelationalNLogical
SignedVUnsigned
FtoM
JtoE
RandNum
WhileLoop
DeclarLoop
EmptyLoop
NoIncrLoop